.data-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}

.data-th,
.data-td {
    padding: 0.5em;
    border-left: 1px solid white;
}

.data-td-centered {
    text-align: center;
    vertical-align: middle;
}

.data-tr {
    transition: 0.1s;
}

.data-tr:nth-child(even) {
    background-color: #e7e7e7;
    color: var(--color-black);
}

.data-tr:nth-child(odd) {
    background-color: #f2f2f2;
    color: var(--color-black);
}

.data-tr:hover {
    background-color: #d4edda;
}

.data-header {
    background-color: #4CAF50;
    color: var(--color-white);
    font-weight: 600;
}

.data-clickable-row a {
    display: block;
}

.choice-entry-college {
    overflow: auto;
    width: 45%;
    overflow-x: hidden;
}

.choice-entry-course {
    overflow: scroll;
    overflow-x: hidden;
    width: 45%;
}

.flex-container {
    margin-top: 1em;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centered {
    text-align: center;
}

.choice-entry-select {
    border: 1px solid lightgray;
    outline: none;
    padding: 0.5em;
}

select::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}

select::-webkit-scrollbar-track {
    background: var(--color-white);
}

select::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 1em;
}

select::-webkit-scrollbar-thumb:hover {
    background: var(--color-black);
}