{% extends 'counselling/base.html' %}
{% block scripts %}
  {{ block.super }}
  <script>
    function collegechanged() {
      let select_node = document.getElementById('college-selector')
      let courseSelectElement = document.getElementById('course-selector')
      let college_id = select_node.value
    }
    function addcourse(){
        let selectedCoursesElement = document.getElementById("selected-courses");
        let selectedCollege = document.getElementById("college-selector")
        let selectedCourse = document.getElementById("course-selector")
        if(selectedCollege.selectedIndex === -1 || selectedCourse.selectedIndex === -1){
            // alert('Please select a college and a course')
            return;
        }
        college = selectedCollege.options[selectedCollege.selectedIndex]
        course = selectedCourse.options[selectedCourse.selectedIndex]
        
        const liChild = document.createElement('li')
        liChild.textContent = `${college.textContent} ${course.textContent}`
        selectedCoursesElement.appendChild(liChild);
    }
  </script>
{% endblock %}
{% block content %}
<h1 class="centered">
    Please fill your choices
</h1>
  <div class="flex-container">
    <select name="choice" class="choice-entry-college choice-entry-select" size="10" onchange="collegechanged()" id="college-selector">
      {% for college in colleges %}
        <option value="{{ college.id }}">{{ college.code }} {{ college.name }}</option>
      {% endfor %}
    </select>
    <select name="choice" class="choice-entry-course choice-entry-select" size="10" id="course-selector"></select>
    <div>
        <button onclick="addcourse()">Add</button>
    </div>
  </div>
  <div>
      <ol type="1" id="selected-courses">
      </ol>
  </div>
{% endblock %}
