{% extends 'counselling/base.html' %}
{% block scripts %}
  {{ block.super }}
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}
{% block content %}
  <div id="app">
    <h1 class="centered">Please fill your choices</h1>
    <div class="flex-container">
      <select name="choice" class="choice-entry-college choice-entry-select" size="10" :value="selected_college" @change="onSelectedCollegeChanged">
        <option disabled value="">Select a college</option>
        {% for college in colleges %}
          <option value="{{ college.id }}">{{ college.code }} {{ college.name }}</option>
        {% endfor %}
      </select>
      <select name="choice" class="choice-entry-course choice-entry-select" size="10" v-model="courses">
        <option v-for="course in courses" :value="course.code">
        [[course.code]] [[ course.name ]]
        </option>
      </select>
    </div>
    <div>
      <ol type="1" id="selected-courses"></ol>
    </div>
  </div>
{% endblock %}
{% block closingscript %}
  <script>
    const { createApp, ref } = Vue
    createApp({
      setup() {
        const selected_college = ref('');
        const courses = ref({});
        
        function onSelectedCollegeChanged(e){
            // The selected college has changed, fetch courses from the api and update the other select box
            selected_college.value = e.target.value;
            fetchPrograms(selected_college.value);
        }

        function fetchPrograms(college_id) {
          fetch(`{% url 'counselling:index' %}api/college/${college_id}/programs`)
            .then((response) => {
              if (!response.ok) {
                courses.value = {}
                throw new Error(`${response.status}`)
              }
              return response.json()
            })
            .then((data) => {
              courses.value = data.courses
            })
            .catch((err) => {
              alert(`Network error, try again after some time ${err}`)
                courses.value = {}
            })
        }

        return {
            selected_college,
            onSelectedCollegeChanged,
            courses
        }
      },
      delimiters: ['[[', ']]']
    }).mount('#app')
  </script>
{% endblock %}
