{% extends 'counselling/base.html' %}
{% block scripts %}
  {{ block.super }}
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}
{% block content %}
  <div id="app">
    <h1 class="centered">Please fill your choices</h1>
    <div class="flex-container">
      <select name="choice" class="choice-entry-college choice-entry-select" size="10" :value="selected_college" @change="onSelectedCollegeChanged">
        <option disabled value="">Select a college</option>
        {% for college in colleges %}
          <option value="{{ college.id }}">{{ college.code }} {{ college.name }}</option>
        {% endfor %}
      </select>
      <select name="choice" class="choice-entry-course choice-entry-select" size="10" :value="selected_course" @change="onSelectedCourseChanged">
        <option v-for="course in courses" :value="course.id" :key="course.id">
            <!--Hide programs which have already been added-->
        [[course.code]] [[ course.name ]]
        </option>
      </select>
        <div>
            <button @click="addProgram" class="primary-btn table-btn-blue">
                Add
            </button>
        </div>
    </div>
    <div>
        <table class="data-table">
          <tr class="data-header">
            <th class="data-th data-td-centered">Choice number</th>
            <th class="data-th data-td-centered">Code</th>
            <th class="data-th data-td-centered">College name</th>
            <th class="data-th data-td-centered">Course name</th>
            <th class="data-th data-td-centered">Action</th>
          </tr>
            <tr class="data-tr" v-for="(program,index) in priority_order" :key="`${program.college_id}{program.course_id}`">
              <td class="data-td data-td-centered">[[index + 1]]</td>
              <td class="data-td data-td-centered">[[program.college_code]][[program.course_code]]</td>
              <td class="data-td">[[program.college_name]]</td>
              <td class="data-td">[[program.course_name]]</td>
              <td class="data-td">
                  <button class="primary-btn table-btn table-btn-red" @click="deleteProgram(index)">Delete</button>
                  <button class="primary-btn table-btn table-btn-blue" @click="moveUp(index)">Move up</button>
                  <button class="primary-btn table-btn table-btn-blue" @click="moveDown(index)">Move down</button>
              </td>
            </tr>
        </table>
    </div>
  </div>
{% endblock %}
{% block closingscript %}
  <script>
    const { createApp, ref } = Vue
    createApp({
      setup() {
        const selected_college = ref('');
        const selected_college_name = ref('');

        const selected_course = ref('');
        const selected_course_name = ref('');

        const courses = ref({});
        const priority_order = ref([]);
          
        // This contains the choice list of the student, example structure
        // {
        //      1: [....] // list of courses selected from college 1
        // }
        // This is used to hide courses from the select menu if they have already been added
        const choice_list_programs = ref({});
        
        function onSelectedCollegeChanged(e){
            // The selected college has changed, fetch courses from the api and update the other select box
            const selectedOption = e.target.options[e.target.selectedIndex];
            selected_college.value = e.target.value;
            selected_college_name.value = selectedOption.text;
            fetchPrograms(parseInt(selected_college.value));
        }
          
        function onSelectedCourseChanged(e){
            const selectedOption = e.target.options[e.target.selectedIndex];
            selected_course.value = e.target.value;
            selected_course_name.value = selectedOption.text;
        }


        function fetchPrograms(college_id) {
          fetch(`{% url 'counselling:index' %}api/college/${college_id}/programs`)
            .then((response) => {
              if (!response.ok) {
                courses.value = {}
                throw new Error(`${response.status}`)
              }
              return response.json()
            })
            .then((data) => {
              // Filter the courses, do not show courses which have already been added
              if(choice_list_programs.value[college_id]){
                courses.value = data.courses.filter(course => choice_list_programs.value[college_id].indexOf(course.id) == -1 )
              } else{
              courses.value = data.courses
              }

            })
            .catch((err) => {
              alert(`Network error, try again after some time ${err}`)
                courses.value = {}
            })
        }
        function deleteProgram(index) {
            let program = priority_order.value[index]
            priority_order.value.splice(index, 1);
            let idx = choice_list_programs.value[program.college_id].indexOf(program.course_id)
            choice_list_programs.value[program.college_id].splice(idx, 1);
            choice_list_programs.value = choice_list_programs.value
        }
        
        function moveUp(index) {
            if (index > 0) {
                const temp = priority_order.value[index];
                priority_order.value[index] = priority_order.value[index - 1];
                priority_order.value[index - 1] = temp;
            }
        }
        
        function moveDown(index) {
            if (index < priority_order.value.length - 1) {
                const temp = priority_order.value[index];
                priority_order.value[index] = priority_order.value[index + 1];
                priority_order.value[index + 1] = temp;
            }
        }
          
        function addProgram(e) {
            if(selected_college.value === ''){
                alert('Please select a college')
                return;
            }
            if(selected_course.value === ''){
                alert('Please select a course to add')
                return;
            }
            if(choice_list_programs.value[selected_college.value]){
                choice_list_programs.value[selected_college.value].push(parseInt(selected_course.value));
            } else{
                choice_list_programs.value[selected_college.value] = [parseInt(selected_course.value)];
            }
            
            // Don't show this course in the courses list
            courses.value = courses.value.filter(course => course.id !== parseInt(selected_course.value))

            priority_order.value.push({
                "college_id": parseInt(selected_college.value),
                "course_id": parseInt(selected_course.value),
                "college_name": selected_college_name.value,
                "course_name": selected_course_name.value,
                "course_code": selected_course_name.value.split(" ")[0],
                "college_code": selected_college_name.value.split(" ")[0]
            })
        }

        return {
            selected_college,
            selected_course,
            onSelectedCollegeChanged,
            onSelectedCourseChanged,
            courses,
            addProgram,
            choice_list_programs,
            priority_order,
            deleteProgram,
            moveUp,
            moveDown
        }
      },
      delimiters: ['[[', ']]']
    }).mount('#app')
  </script>
{% endblock %}
