{% extends 'counselling/base.html' %}
{% block title %}
  <title>List of colleges participating in seat allocation</title>
{% endblock %}
{% block content %}
  <h1>College list</h1>
  {% if college_list %}
    <table>
      <tr>
        <th>College Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
      </tr>
      {% for college in college_list %}
        <tr>
          <td>
            <a style="font-family: monospace;" href="{% url 'counselling:college_detail' college_id=college.id slug=college.slug %}">{{ college.code }}</a>
          </td>
          <td>{{ college.name }}</td>
          <td>{{ college.address }}</td>
          <td>{{ college.city }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
