{% extends 'counselling/base.html' %}
{% block title %}
  <title>Information about {{ college.name }}</title>
{% endblock %}
{% block content %}
  <div>
    <h1>{{college.code}} {{ college.name }}</h1>
    <h3>{{ college.address }}</h2>
    <h2>Programs offered</h2>
    <table>
      <tr>
        <th>Course code</th>
        <th>Name</th>
        <th>Total seats</th>
      </tr>
      {% for program in college.program_set.all %}
        <tr>
          <td>{{ program.course.code }}</td>
          <td>{{ program.course.name }}</td>
          <td>{{ program.total_seats }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
