<h1>College List</h1>
{% if college_list %}
  <table>
    <tr>
      <th>College Code</th>
      <th>Name</th>
      <th>City</th>
      <th>Website</th>
    </tr>
    {% for college in college_list %}
      <tr>
        <td>
          <a style="font-family: monospace;" href="{% url 'college_detail' college_id=college.id %}">{{ college.code }}</a>
        </td>
        <td>{{ college.name }}</td>
        <td>{{ college.city }}</td>
        <td>
          {% if college.website %}
            <a href="{{ college.website }}">{{ college.website }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
