{% extends 'counselling/base.html' %}
{% block title %}
  <title>List of courses along with their course code</title>
{% endblock %}
{% block content %}
  <h1>List of all courses</h1>
  {% if course_list %}
    <table class="data-table">
      <tr class="data-header">
        <th class="data-header data-td-centered">Course code</th>
        <th class="data-header data-td-centered">Course name</th>
      </tr>
      {% for course in course_list %}
        <tr class="data-tr">
          <td class="data-td data-td-centered">{{ course.code }}</td>
          <td class="data-td">{{ course.name }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
