{% extends 'counselling/base.html' %}
{% block title %}
  <title>List of courses along with their course code</title>
{% endblock %}
{% block content %}
  <h1>List of all courses</h1>
  {% if course_list %}
    <table>
      <tr>
        <th>Course code</th>
        <th>Course name</th>
      </tr>
      {% for course in course_list %}
        <tr>
          <td>
            <p style="font-family: monospace;">{{ course.code }}</p>
          </td>
          <td>{{ course.name }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
