{% extends 'counselling/base.html' %}
{% block title %}
  <title>Your rank</title>
{% endblock %}
{% block content %}
  {% if ranklist_entries %}
    <h1 class="data-td-centered">Your rank</h1>
    <div class="flex-container">
      <table class="data-table" style="width: 50%;">
        <tr class="data-header">
          <th class="data-header data-td-centered">Rank List</th>
          <th class="data-header data-td-centered">Rank List Name</th>
          <th class="data-header data-td-centered">Rank</th>
        </tr>
        {% for rank in ranklist_entries %}
          <tr class="data-tr">
            <td class="data-td data-td-centered">{{ rank.ranklist.short_name }}</td>
            <td class="data-td">{{ rank.ranklist.name }}</td>
            <td class="data-td">{{ rank.rank }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&laquo;</span>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active">
              <span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li>
              <a href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&raquo;</span>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  {% else %}
    <h2>Sorry, you are not part of any rank list</h2>
  {% endif %}
{% endblock %}
