{% extends 'counselling/base.html' %}
{% block title %}
  <title>List of colleges participating in seat allocation</title>
{% endblock %}
{% block content %}
  <h1>College list</h1>
  {% if college_list %}
    <table class="data-table">
      <tr class="data-header">
        <th class="data-th data-td-centered">College Code</th>
        <th class="data-th data-td-centered">Name</th>
        <th class="data-th data-td-centered">Address</th>
        <th class="data-th data-td-centered">City</th>
      </tr>
      {% for college in college_list %}
        <tr class="data-tr">
          <td class="data-td data-td-centered">
            <a href="{% url 'counselling:college_detail' college_id=college.id slug=college.slug %}">{{ college.code }}</a>
          </td>
          <td class="data-td">{{ college.name }}</td>
          <td class="data-td">{{ college.address }}</td>
          <td class="data-td data-td-centered">{{ college.city }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
