{% extends 'counselling/base.html' %}
{% block title %}
  <title>Download choice report</title>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
    const taskId = '{{ task.id }}';
    const taskStatusUrl = "{% url 'counselling:get_task_status' task_id=task.id %}";
    const taskResultUrl = "{% url 'counselling:get_task_result' task_id=task.id %}";

    function checkStatus() {
        fetch(taskStatusUrl)
            .then(response => response.json())
            .then(data => {
                console.log("Task status:", data.task_status);
                if (data.task_status === 'SUCCESS') {
                    clearInterval(intervalId);
                    window.location.href = taskResultUrl;
                } 
                if (data.task_status === 'FAILURE'){
                    clearInterval(intervalId);
                    document.getElementById("message").textContent = "Error, could not generate the report, try again after some time"
                }
            })
            .catch(error => console.error('Error fetching task status:', error));
    }

    const intervalId = setInterval(checkStatus, 5000);
</script>


{% endblock %}
{% block content %}
<div id="message">
    Please wait a moment for the report to be generated....
</div>
{% endblock %}
